<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <title>ONLINE STORE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--
      <p><a href="#" th:href="@{/}">Home</a></p>
      <p><a href="#" th:href="@{/products}">Products</a></p>
      <p><a href="#" th:href="@{product/new}">Create Product</a></p>
      <h1>WELCOME TO ONLINE STORE!</h1>
      -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ONLINE STORE</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/products}">Products</a></li>
            <li><a href="#" th:href="@{product/new}">Create Product</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h1>WELCOME TO ONLINE STORE!</h1>
      </div>
    </div>
  </body>
</html>
