<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <title>ONLINE STORE</title>
  </head>
  <body>
    <p><a href="#" th:href="@{/}">Home</a></p>
    <p><a href="#" th:href="@{/products}">Products</a></p>
    <h3>Product Form</h3>
    <form th:object="${product}" th:action="@{/product}" method="post">
      <input type="hidden" th:field="*{id}"/>
      Name:<br></br>
      <input type="text" th:field="*{name}"/>
      <br></br>
      Category:<br></br>
      <input type="text" th:field="*{category}"/>
      <br></br>
      Image Path:<br></br>
      <input type="text" th:field="*{imagePath}"/>
      <br></br>
      Price:<br></br>
      <input type="text" th:field="*{price}"/>
      <br></br>
      Quantity:<br></br>
      <input type="text" th:field="*{quantity}"/>
      <br></br>
      Info:<br></br>
      <input type="text" th:field="*{info}"/>
      <br></br><br></br>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>