<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <title>ONLINE STORE</title>
  </head>
  <body>
    <div class="container">
      <div th:unless="${#lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
          <tr th:each="product : ${products}">
            <td th:text="${product.id}">Id</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.price}">Price</td>
            <td><a th:href="${'/product/' + product.id}">View</a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>