<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <title>ONLINE STORE</title>
  </head>
  <body>
    <p><a href="#" th:href="@{/}">Home</a></p>
    <p><a href="#" th:href="@{/products}">Products</a></p>
    <h3>Product Details</h3>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Image Path</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Info</th>
      </tr>
      <tr>
        <td th:text="${product.id}">Id</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.category}">Category</td>
        <td th:text="${product.imagePath}">Image Path</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.quantity}">Quantity</td>
        <td th:text="${product.info}">Info</td>
      </tr>
    </table>
  </body>
</html>