<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <title>ONLINE STORE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ONLINE STORE</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/products}">Products</a></li>
            <li><a href="#" th:href="@{product/new}">Create Product</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--
      <p><a href="#" th:href="@{/}">Home</a></p>
      <p><a href="#" th:href="@{/products}">Products</a></p>
      <h3>Product Details</h3>
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Category</th>
          <th>Image Path</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Info</th>
        </tr>
        <tr>
          <td th:text="${product.id}">Id</td>
          <td th:text="${product.name}">Name</td>
          <td th:text="${product.category}">Category</td>
          <td th:text="${product.imagePath}">Image Path</td>
          <td th:text="${product.price}">Price</td>
          <td th:text="${product.quantity}">Quantity</td>
          <td th:text="${product.info}">Info</td>
        </tr>
      </table>
        -->
    <div class="container">
      <h2>Product Details</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Category</th>
              <th>Image Path</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Info</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td th:text="${product.id}">Id</td>
              <td th:text="${product.name}">Name</td>
              <td th:text="${product.category}">Category</td>
              <td th:text="${product.imagePath}">Image Path</td>
              <td th:text="${product.price}">Price</td>
              <td th:text="${product.quantity}">Quantity</td>
              <td th:text="${product.info}">Info</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
